.pagination {
  position: fixed;
  margin: 0;
  bottom: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #342540;
  padding: 1em;
  width: 100vw;
}

.pagination > li {
  margin: 0 0.5em;
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination > li:hover {
  cursor: pointer;
}

.pagination > li.selected {
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 50%;
}
